body
{
    display: flex;
    flex-direction: column;
    background-color: #f5ca7a;
    text-align: center;
    font-family: Permanent Marker;
    justify-content: center;
    align-items: center;
}
.garfieldPic
{
    display: block;
    width : 240px;
    height: 240px;
    border-radius: 10%;
}
.ColorButton {
    margin-top: 15px;
    display:block;
    text-align: center;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 240px;
}

.ColorButton:hover {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    transform: scale(1.1);
}

.ColorButton:active {
    transform: scale(1);
    box-shadow: none;
}

a{
    text-decoration: none;
}