body
{
    background-color: #f5ca7a;
    text-align: center;
    font-family: Permanent Marker;
}
.garfieldPic
{
    width : 240px;
    height: 240px;
    border-radius: 10%;
}
.ColorButton {
    display: block;
    text-align: center;
}